@model _012.Models.Card

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardHolderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardHolderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardHolderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardHolderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cvi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.changeBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.changeBalance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
