@model IEnumerable<_012.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardHolderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cvi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.changeBalance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardHolderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardHolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cvi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.changeBalance)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
